/* ANIMATIONS */


/* navbar: from yellow to white  */
@keyframes navbar-animation-to-white {
  0% {
    background-color: #ffc017;
  }

  100% {
    background-color: white;
  }
}

@keyframes navbar-animation-to-yellow {
  0% {
    background-color: white;
  }
  
  100% {
    background-color: #ffc017;
  }
}

/* button navbar: from black to green */
@keyframes button-navbar-animation-to-green {
  0% {
    background-color: black;
  }

  100% {
    background-color: green;
  }
}

/* button navbar: from green to black */
@keyframes button-navbar-animation-to-black {
  0% {
    background-color: green;
  }

  100% {
    background-color: black;
  }
}

/* use these classes to create 
the navbar animation  */

/* navbar animation */
.navbar-animate-to-white {
  animation: navbar-animation-to-white .5s ease-in forwards;
}

.navbar-animate-to-yellow {
  animation: navbar-animation-to-yellow .5s ease-in forwards;
}

/* navbar button animation */

.button-navbar-animate-to-green {
  animation: button-navbar-animation-to-green .5s ease-in forwards;
}

.button-navbar-animate-to-black {
  animation: button-navbar-animation-to-black .5s ease-in forwards;
}