/* MOBILE */
@media screen and (max-width: 576px) {
  header > .hero > .wrapper,
  header > .navbar > .wrapper,
  section.trending,
  section.discover {
    /* change this to center all content 
    in header and main */
    padding-inline: 1rem;
  }

  /* the first 3 menu items disappear */
  header > .navbar > .wrapper > .menu > nav ul li:nth-child(1),
  header > .navbar > .wrapper > .menu > nav ul li:nth-child(2),
  header > .navbar > .wrapper > .menu > nav ul li:nth-child(3) {
    display: none;
  }

  /* hero background disappears */
  header {
    background-image: none;
  }

  section.trending > .posts {
    flex-direction: column;
  }

  /* the post in trending */
  section.trending > .posts > div {
    gap: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
  }

  section.discover {
    flex-direction: column;
  }

  section.discover > .tags-and-footer {
    /* first item */
    order: -1;
    max-width: 100%;
  }
}

/* TABLET */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header > .hero > .wrapper,
  header > .navbar > .wrapper,
  section.trending,
  section.discover {
    /* change this to center all content 
    in header and main */
    padding-inline: 1rem;
  }

  /* the post in trending */
  section.trending > .posts > div {
    min-width: 40%;
  }

  section.discover {
    flex-direction: column;
  }

  section.discover > .tags-and-footer {
    /* first item */
    order: -1;
    max-width: 100%;
  }
}

/* FROM TABLET TO BEFORE DESKTOP */
@media screen and (min-width: 576px) and (max-width: 1200px) {
  /* the m repeated background is shown less */
  header {
    background-position: top 70px right -250px;
  }
}
