/* borders and backgrounds so I can work better */

header,
main,
header > *,
main > * {
    border: 1px solid black;   
}


/* must be equally centered  */
header,
section.trending,
section.discover {
    padding-inline: 10rem;

} 

header > * {
    width: 100%;
}


/* ******** HEADER ********** */
header {
    /* height: 300px; */
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}



header > .navbar {
    height: 50px;
    background-color: red;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

header > .navbar > .logo {

}

header > .navbar > .logo > img {
    width: 20px;
}

header > .navbar > .menu {
    display: flex;
    align-items: center;
}

header > .navbar > .menu > nav > ul {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

header > .navbar > .menu > nav > ul {

}


header > .hero {
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    padding-block: 4rem;
    gap: 2rem;
}


header > .hero > .title {
    font-size: 3rem;
}


header > .hero > .slogan {
    
}


header > .hero > .cta {
    
}

header > .hero > .cta > button {
    background-color: black;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    padding-inline: 2rem;
}

/***** END HEADER ***** */


main {
    /* background-color: blue; */
}

/******** SECTION TRENDING **********/

section.trending {
    background-color: orange;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

section.trending > .title {

}

section.trending > .posts {
    /* background-color: cyan; */
    display: flex;
    gap: 2rem;
}

/* the post in trending */
section.trending > .posts > div {
    display: flex;
    border: 1px solid  gray;
    width: 30%;
    gap: .5rem;
}

/* the trending post's number */
section.trending > .posts > div > .number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: gray;
    font-size: 1.5rem;
}

/* the trending post's content */
section.trending > .posts > div > .content {
    flex-grow: 1;   
    display: flex;
    flex-direction: column;
    gap: .2rem;
}


section.trending > .posts > div > .content > .author {
    display: flex;
    gap: .5rem;
}

section.trending > .posts > div > .content > .author > .img > img {
    width: 20px;
}


section.trending > .posts > div > .content > .title {
    font-weight: bold;
    font-size: 1.2rem;
}

section.trending > .posts > div > .content > .meta {
    color: gray;
    font-size: 0.8rem;
}


/******** END SECTION TRENDING **********/


/************ SECTION DISCOVER ***********/


section.discover {
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding-top: 3rem;
}

section.discover > .posts {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-grow: 5;
    gap: 1rem;
}

/* the post in discover */
section.discover > .posts > div {
    display: flex;
    /* padding: 2rem; */
    border: 1px dotted gray;
}

/* the content of discover post */
section.discover > .posts > div > .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}


section.discover > .posts > div > .content > .author {
    display: flex;
    gap: 0.5rem;
}

section.discover > .posts > div > .content > .author > .img > img {
    width: 20px;
    border-radius: 50%;
}

section.discover > .posts > div > .content > .title {
    font-size: 1.5rem;
    font-weight: bold;
}

section.discover > .posts > div > .content > .snippet {
    color: gray;

}

section.discover > .posts > div > .content > .footer {
    color: gray;
    display: flex;
    justify-content: space-between;
}



/* the image container of the discover post */
section.discover > .posts > div > .img {
    
}

/* the image of the discover post */
section.discover > .posts > div > .img > img {
    width: 100px;
}

/* the last part of the discover post that contains 
 metadata and actions */
section.discover > .posts > div > .content > .footer {
    
}

/* DISCOVER TAGS */

section.discover > .tags {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 30%;
    gap: 1rem;
}

/* the discover tags container */
section.discover > .tags > .content {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

/* the discover tag */
section.discover > .tags > .content > div {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    color: gray;
    border-radius: 5px;
}

/* THE PAGE'S "FOOTER" */

section.discover > .links {

}